body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}
.ant-menu-submenu-title {
  display: flex !important;
  align-items: center;
}
.ant-message-custom-content {
  display: flex;
  align-items: center;
}
.divider:after,
.divider:before {
  content: '';
  flex: 1;
  height: 1px;
  background: #eee;
}
